*{
    margin: 0;
    padding: 0;
}
select{
    width: 100px;
    /* height: 30px; */
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}

.appx{
    display: none;
}
.bankua{
    width: 751px;
    height: 700px;
    margin: 0 auto;
}
.bankua_a{
    margin-top: 80px;
    width: 751px;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 50px 150px;
}
.huiyuan{
   width: 100%;
   height: 41px;
   margin-bottom: 30px;
}
.huiyuan h1{
    width: 177px;
    height: 41px;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    background: #cecece; 
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    float: left;
}
.xiyu {
       width: 177px * 2;
       height: 41px;
       margin-left: 92px;
      
      
}
.biao{
    width: 100%;
}
.yong{
    width: 449px;
    height: auto;
    margin-bottom: 10px;
  font-size: 14px;
  text-align: right;
}
.yong input{
    width: 350px;
    height: 30px;
    border-radius: 8px;
    background:none;  
	outline:none;  
	border:1px solid #ccc;
}
.yong .appsd_a{
    width: 354px;
    height: 42px;
    background: #453d3e;
    color: #fff;
}
.huiyuan .dog{
    background:#453d3e ;
}
.yongxi{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    margin-left: 100px;
}
.qu{
    width: 300px;
    height: 30px;
    margin-left: 100px;
    line-height: 30px;
}
.aaa{
    color: #453d3b;
}
